@font-face {
  font-family: Imported;
  src: url(../src/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Imported-Bold;
  src: url(../src/fonts/Montserrat-Bold.ttf);
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  min-height: 95vh;
  font-family: Imported;
}

body {
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 9rem;
  min-height: 80vh;
}
