* {
  --color-light-1: #e1f2d5;
  --color-dark-5: #2b2b2b;
  --color-dark-4: #303030;
  --color-dark-3: #878787;
  --color-dark-2: #d2d2d2;
  --color-dark-1: #919191;
}

body {
  background: url("../public/assets/Images/fondo_de_pantalla.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-transform: uppercase;
  width: 98vw;
  height: 95vh;
  margin: 0;
  color: var(--color-light-1);
}
