.booking-form-container {
    width: 90%;
    height: 30%;
    color: white;
    font-size: 1rem;
}

.dropdown-box {
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.dropdown-header {
    width: 31rem;
    height: 5rem;
    margin-left: 2rem;
    font-size: 2rem;
    border-radius: 0.62rem;
    border: none;
}

.dropdown-body {
    margin-left: 2rem;
    font-size: 2rem;
}

#welcome-message {
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.dropdown-package-proceed {
    /* position: relative; */
    
    left: 50rem;
}

.main-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#package-dropdown-button, #package-redirect-button, .dropdown-package-refresh-button {
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.62rem;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 20px;
    margin: 0.5em;
}

.redirect-form-container {
    position: relative;
    /* left: 25rem; */
    bottom: -5rem;
    width: 100%;
    height: auto;    
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    padding: 1em;

}

#redirect-message {
    font-size: 1.7rem;
    margin-bottom: 0.5em;
}

.info {
    margin-bottom: 2rem;
}

.items {
    font-size: 1rem;
}
.checkbox {
    position: relative; 
    display: inline;
}

.booking-confirmation{
    font-size: 1.5em;
    margin: 0.5rem;
}

/* #package-redirect-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    height: 1rem;
    top: 3rem;
} */