.contact-form-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 1em;
}

.contact-form-label-name,
.contact-form-label-email,
.contact-form-label-message {
  font-family: Imported-Bold;
}

.contact-form-input-name,
.contact-form-input-email {
  width: 100%;
  height: 2.188em;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-family: Imported;
}

.contact-form-text-message {max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 6.25em;
    min-height: 6.25em;
    padding: 0.438em;
    font-family: Imported;
    outline: none;
    border-radius: 0.313em;
    border: 1px solid rgb(220, 220, 220);
}

.contact-form-input-send {
  margin-top: 2rem;
  cursor: pointer;
  background: none;
  color: white;
  font-family: Imported-Bold;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 0.62rem;
}