/* .photo-neptune0 {
  opacity: 0.5;
}
.photo-mercury1 {
  opacity: 0.5;
}
.photo-mars3 {
}

.planet .text-neptune1 {
  color: var(--color-light-1);
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.text-neptune0 {
  color: var(--color-light-1);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
} */

.planet-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 6.25em;
  backdrop-filter: blur(0.3rem);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff;
  border-radius: 0.62rem;
  padding: auto;
}

.planet-box {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.style,
.planet-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planet-photo {
  max-width: 80%;
  height: auto;
  border: 1px solid #ffffff;
  border-radius: 0.62rem;
  margin: 2em;
}

.photo-0 {
  max-width: 25%;
}

.planet-name {
  color: #ffffff;
  font-family: Imported-Bold;
}

.planet-go-back-button {
  color: #ffffff;
  font-family: Imported-Bold;
  background-color: none;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 0.62rem;
  margin: 2em;
  text-transform: uppercase;
}

/* .planet-neptune0 img {
  width: 10%;
  height: 10%;
  object-fit: cover;
  object-position: center;
}

.planet-neptune1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
} */
