.company-story-name {
    color: #FFFFFF;
    font-family: Imported-Bold;
}

.company-story-art {
    height: 6em;
    margin-right: 3em;
}

.company-story-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 2em;
}

.company-story-box {
    display: flex;
    flex-direction: column;
}

.company-story-wrapper {
    margin: 2em;
}